/*
The MIT License (MIT)
Copyright © 2013 Florian Schwehn

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
*/


* {
  border: 0;
  margin: 0;
}
html {
  font: 200% "Helvetica Neue", Arial, sans-serif;
  background: #000;
  color: #fff;
}
body {
  margin: 20px 100px;
}
#table_wrapper {
  display: inline-block;
  border-radius: 7px;
  border: 7px solid #224;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: 15px;
  background-color: #444;
}
tbody tr {
  border-bottom: 1px dashed #888;
}
tbody tr:last-child {
  border-bottom: none;
}
td,
th {
  padding: 5px 9px;
  text-align: center;
}
th {
  color: #aaa;
  background-image: -webkit-linear-gradient(top, #444 0%, #334 50%, #224 100%);
  padding: 3px 6px 4px;
  font-size: 10px;
  -webkit-user-select: none; 
}
th.sort:hover {
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #334 0%, #334 50%, #334 100%);
}
th.sort.ascending,
th.sort.descending {
  background-image: -webkit-linear-gradient(top, #224 0%, #334 50%, #444 100%);
}
.icon {
  margin-left: 0.6em;
  display: inline-block;
}

th.sort.ascending,
th.sort.descending
{
  cursor: pointer;
}
th.sort.ascending .icon {
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 1ex 1ex;
  border-top-width: 0;
  border-bottom-color: #666;
}
th.sort.descending .icon {
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 1ex 1ex;
  border-bottom-width: 0;
  border-top-color: #666;
}
th.sort.none .icon {
  width: 1.55ex;
  height: 2px;
  padding:0 0.25ex;
  margin-bottom:0.45ex;
  background-color: #666;
}