/*
The MIT License (MIT)
Copyright © 2013 Florian Schwehn

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
*/

table.sort {
  font-weight: 200;
  font-size: 15px;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.125);
}
table.sort tbody tr {
  border-bottom: 1px solid #eee;
}
table.sort tbody tr:last-child {
  border-bottom: none;
}
table.sort th {
  padding: 5px 9px;
  cursor: default;
  color: #444;
  text-shadow: 0px 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #eee 0%, #aaa 100%);
  padding: 3px 6px 4px;
  /*font-size: 10px;*/
  -webkit-user-select: none; 
}
table.sort th.sort {
  cursor: pointer;
}
table.sort th.sort.ascending,
table.sort th.sort.descending {
  background-image: -webkit-linear-gradient(top, #aaa 0%, #eee 100%);
}
table.sort th.sort:hover {
  background-image: none;
  background-color: #ccc;
}
table.sort th .icon {
  margin-left: 0.6em;
  display: inline-block;
}
table.sort th.sort.ascending .icon {
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 1ex 1ex;
  border-top-width: 0;
  border-bottom-color: #444;
}
table.sort th.sort.descending .icon {
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 1ex 1ex;
  border-bottom-width: 0;
  border-top-color: #444;
}
table.sort th.sort.none .icon {
  width: 1.55ex;
  height: 2px;
  padding:0 0.25ex;
  margin-bottom:0.45ex;
  background-color: #444;
}